.App {
    text-align: center;
    margin-top: 2rem;
}

.App a {
    margin: 2rem;
    text-decoration: none;
    color: black;
    background: lightblue;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.App a:hover {
    color: blue;
}

.AddFriendsContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 15rem;
}

.AddFriends {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 15%;
    height: 100%;
    line-height: 2;
    border-radius: 0.5rem;
    background: lightcyan;
}

.AddFriends button {
    margin-top: 1rem;
}

.FriendContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Friend {
    border: 1px solid black;
    width: 25%;
}

.LoginFormContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 15rem;
}

.LoginForm {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 15%;
    height: 100%;
    line-height: 2;
    border-radius: 0.5rem;
    background: lightcyan;
}

.LoginForm button {
    margin-top: 1rem;
}
